body {
  font-family: "Montserrat";
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", "sans-serif";
}

h3 {
  font-weight: 800;
  font-size: 1.2rem;
}

p {
  color: #8f8f8f;
}

a {
  color: #000;
}

/* Container */

.container-fluid {
  padding: 7% 15%;
}

/* Sections */

.colored-section {
  background-color: #3bb7b3;
  color: #ffffff;
}

/* Headings */

.big-heading {
  font-size: 3.2rem;
  line-height: 1.5;
  font-weight: 900;
}

.section-heading {
  font-size: 2.8rem;
  line-height: 1.5;
  font-weight: 900;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem 0;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: "Montserrat";
  font-size: 1.2rem;
  font-weight: 500;
}

/* Title Section */

#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

/* Download buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */

.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Features Section */

#features {
  background-color: #ffffff;
  position: relative;
}

.features-title {
  font-weight: 800;
  font-size: 1.2rem;
}

.feature-box {
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #238380;
}

/* Testimonials Section */

#testimonials {
  background-color: #3bb7b3;
  color: #ffffff;
}

.testimonial-text {
  font-size: 2.8rem;
  line-height: 1.5;
  font-weight: 900;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* Press Section */

#press {
  background-color: #3bb7b3;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
  padding: 100px;
}

.price-text {
  font-size: 2.8rem;
  line-height: 1.5;
  font-weight: 900;
}

.pricing-column {
  padding: 3% 2%;
}

/* CTA Section */

.cta-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Footer Section */

#footer {
  background-color: #ffffff;
}

.social-icon {
  margin: 20px 10px;
}

@media (max-width: 990px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
